/* GLOBAL */

html {
    font-size: 16;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 33, 62);
}
textarea,
#copyright {
    font-family: lieberuth, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* MAIN  */

h1 {
    font-family: typeka, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
    letter-spacing: .1rem;
    text-align: center;
    color: rgb(224, 241, 234);
}
h1 span {
    text-transform: uppercase;
}
textarea {
    display: block;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    color: rgb(82, 82, 82);
    background-color: rgb(236, 236, 236);
    height: 350px;
    width: 60%;
    border: none;
    border-radius: 25px;
    padding: 2rem;
    margin: 3rem auto;
    resize: none;
}
textarea:focus {
    outline: none;
    /* box-shadow: 0px 0px 0 6px rgb(255, 167, 38); */
    box-shadow: 0px 0px 0 6px rgb(47, 171, 230);
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    padding: 1.5rem 2rem;
}
#copyright {
    font-size: .9rem;
    color: rgb(169, 189, 187);
    margin: 0;
}