/* GLOBAL */

html {
    font-size: 16;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 33, 62);
    background-image: url('../images/mint-typewriter.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* FONTS */

textarea,
#copyright {
    font-family: lieberuth, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1,
#case-selection,
.options,
.confirmed {
    font-family: typeka, sans-serif;
    font-weight: 400;
    font-style: normal;
}
#converter-text {
    font-family: capitol, sans-serif;
    font-style: normal;
}

/* MAIN */

h1 {
    font-size: 2.3rem;
    letter-spacing: .1rem;
    text-align: center;
    /* color: rgb(224, 241, 234); */
    color: rgb(68, 54, 54);
}
h1 span {
    text-transform: uppercase;
}
#icon-wrapper,
textarea {
    /* width: 60%; */
    width: 35%;
}
#icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin: 2rem auto 0; */
    margin: 1rem auto 0;
}
#clipboard {
    display: block;
    height: 45px;
    margin: 0 1rem;
    cursor: pointer;
}
textarea {
    display: block;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    color: rgb(82, 82, 82);
    background-color: rgb(236, 236, 236);
    /* height: 250px; */
    height: 150px;
    border: none;
    border-radius: 25px;
    padding: 2rem;
    /* margin: 1rem auto 3rem; */
    margin: 1rem auto 6rem;
    resize: none;
}
textarea:focus {
    outline: none;
    /* box-shadow: 0px 0px 0 6px rgb(255, 167, 38); */
    box-shadow: 0px 0px 0 6px rgb(47, 171, 230);
}
#converter-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: fit-content;
}
#converter-text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: rgb(255, 167, 38);
    margin: .625rem .625rem 0 0;
}
#selection-placeholder {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid rgb(255, 167, 38);
}
#case-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: .05rem;
    color: rgb(255, 218, 185);
    background-color: inherit;
    border: none;
    padding: 0 2px 2px 0;
    cursor: pointer;
}
#arrow {
    display: inline-block;
    position: relative;
    border: solid rgb(255, 218, 185);
    border-width: 0 1px 1px 0;
    margin: 0 0 5px 0;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition-duration: 0.3s;
    cursor: pointer;
}
#dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}
.options {
    font-size: 1.15rem;
    letter-spacing: .1rem;
    color: rgb(255, 218, 185);
    background-color: rgb(255, 87, 34);
    min-width: 150px;
    margin: 0;
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
}
.options:active {
    background-color: rgb(189, 44, 0);
}
/* media query solves sticky hover on mobile */
@media (hover:hover) {
    .options:hover {
        background-color: rgb(189, 44, 0);
    }
    /* #selection-placeholder:hover #dropdown {
        display: block;
    }
    #selection-placeholder:hover #arrow {
        transform: rotate(225deg);
        margin: 0;
    } */
    #clipboard:hover {
        filter: brightness(80%);
    }
}
.confirmed {
    letter-spacing: .1rem;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    padding: 1.1rem 2rem;
}
#copyright {
    font-size: .9rem;
    color: rgb(169, 189, 187);
    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1050px) {
    #icon-wrapper,
    textarea {
        width: 45%;
    }
}

@media only screen and (max-width: 850px) {
    body {
        background-size: cover;
    }
    #icon-wrapper,
    textarea {
        width: 55%;
    }
}

@media only screen and (max-width: 750px) {
    #icon-wrapper,
    textarea {
        width: 65%;
    }
}

@media only screen and (max-width: 660px) {
    #icon-wrapper,
    textarea {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    #icon-wrapper,
    textarea {
        width: 85%;
    }
}

@media only screen and (max-width: 415px) {
    textarea {
        font-size: 1.3rem;
    }
    #converter-text {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.7rem;
    }
    textarea {
        font-size: 1.1rem;
        height: 210px;
        padding: 1.5rem;
        margin: 2rem auto;
    }
    #converter-wrapper {
        flex-direction: column;
    }
    #converter-text {
        font-size: 1.6rem;
        margin: 0;
    }
    footer {
        padding: 1.1rem 1.4rem;
    }
    #copyright {
        font-size: .7rem;
    }
}